body{
background:#0f172a;
color:white;
font-family:Arial, Helvetica, sans-serif;
}

.navbar{
background:#020617;
}

.card{
border:none;
border-radius:10px;
}

.alert{
font-weight:bold;
}

table{
background:white;
color:black;
border-radius:10px;
overflow:hidden;
}

.btn{
border-radius:6px;
}

h2,h3,h4{
font-weight:600;
}